*{ margin: 0;
    padding: 0;
    box-sizing: border-box;


}
    .header{
        height: 92px;
        max-width: 1600px;
        background-color: #FFFFFF
        padding: 120,16;
        

        
    }
.header-icon{
    margin-top: 21px;
width: 71px;
height: 36px;
margin-left: 120px;
}
.nav-menu{
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content:space-around;
    max-width: 1600px;
   
    
}
.nav-link{
    display: flex;
    list-style: none;
    gap: 32px;
    font-size: 16;
    color: #000000;
}

.nav-link a{
    text-decoration: none;
    
}
.btn{
    height: 44px;
    width: 164px;
    background-color: #469165;
    border-radius: 5px;
    
}
.badge{

}
#banner{
    background-image: url(./assets/hero-bg.png);

height: 674px;

max-width: 1600px;
padding-left: 120px;
padding-top: 70px;
padding-right: 120px;
padding-bottom: 134px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}

.badge{
    font-size: 16;
    color: #469165;
    border: 1px solid;
    border-radius: 2px;
    
}
.heading-1{
    color: #FFFFFF;

}
.heading-2{
    color: #30B868;
}
.btn-2{
    width: 251px;
    height: 52px;
   background-color: #469165;
   
}
.btn-3{
    height: 52px;
    width: 198px;
    font-size: 16px;
    color: FFFFFF;
    
    

}
.parent-buton{
    display: flex;
    gap: 16px;
    margin-top: 32px;
}
.nav-link :hover
{
    background-color: aqua;
}